.container{
	width: 100% !important;
	margin-right: initial !important;
    margin-left: initial !important;
	padding: initial !important;
}

.tpi-button {
	display: block;
	padding: 10px;
	font-size: 1em;
    background-color: #122a59;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    float: right;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 170px;
}

.tpi-button:hover {
	background-color: #627290;
    color: white;
}

.tpiCal_pop{
	min-width: 700px;
}

.tpiCal_pop .pop_container{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.tpiCal_pop #tourNm{
	margin: 0 auto;
    padding: 10px;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
    min-width: 200px;
}

.flatpickr-calendar{
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.tpiCalbtn{
	margin-top: 10px;
}

.tpiList{
	display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.planDiv{
	width: 19%;
    min-width: 150px;
    border: 1px solid #122a59;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin: 5px 0.5%;
}

.planDiv:hover{
	filter: brightness(50%);
}

.tpiList img{
	width: 100%;
}

.planDiv .planNm{
	font-weight: bold;
    margin-top: 5px;
}


.planDiv .planDt{
	font-size: 14px;
}

.timeline {
    border-left: 4px solid #122a59;
    padding-left: 20px;
    position: relative;
    height: 98%;
    overflow-y: scroll;
    padding-right: 5px;
}

.timeline::-webkit-scrollbar {
   width: 5px;
   background-color: #122a5914;
 }
 
.timeline::-webkit-scrollbar-thumb {
    background: #122a59;;
    border-radius: 5px;
}

.tLine-svg {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.tLine {
	stroke: #122a59; 
    stroke-width: 4px;
    stroke-dasharray: 4; /* 점선 */
}

.timeline-day {
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
}

.timeline-head h4 {
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    background: #122a59;
    color: white;
    border-radius: 5px;
}

.add-button {
    display: inline-block;
    margin-left: 10px;
    padding: 1px 5px;
    background: white;
    color: #122a59;
    border: 2px solid #122a59;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.add-button:hover {
    background: #122a59;
    color: white;
}

.planMap {
    height: 98%;
    border: 2px solid #122a59;
    border-radius: 10px;
}

#tour-planner {
    margin: 20px 0;
    padding: 0 10px;
}

#tour-planner h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

@media screen and (min-width: 1281px){ 

	.planMap {
	    width: calc(100% - 620px);
	}
	
	.timeline{
		width: 600px;
	}
}

@media (max-width: 1280px){ 
	
	.planMap {
	    width: calc(100% - 380px);
	}
	
	.timeline{
		width: 370px;
	}
}



.timeline .item-head{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeline .item-time{
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.timeline input{
	width: 46%;
}

.timeline-item button {
	width: 25px;
    height: 25px;
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    background: #122a59;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.timeline-item button:hover {
    background: #627290;
}

.timeline-item button svg {
    width: 100%;
	height: auto;
}

.timeline-item .delete-btn {
    background: red;
    color: white;
}

.timeline-item .delete-btn:hover {
    background: darkred;
}

.timeline-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.timeline-list .item-List{
	
}


.timeline-item {
    margin: 10px 0;
    padding: 10px;
    background: #f4f8ff;
    border: 2px solid #122a59;
    border-radius: 5px;
    position: relative;
    transition: background 0.3s;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -24px;
    width: 16px;
    height: 4px;
    background: #122a59;
}

.timeline-item input, .timeline-item textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.item-time input{
    text-align: center;
    width: 45%;
    min-width: 150px;
}

.timeline-item textarea {
    width: 100%;
}

/*  */











label {
    display: block;
    margin-bottom: 10px;
}

input[type="date"]{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}


.tit_hr{
	clear: both;
}

.planner {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 10px);
}



.timeline-item:hover {
    background: #e0f7ff;
}





.map-icon {
    width: 16px;
    height: 16px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/684/684908.png');
    background-size: cover;
    display: inline-block;
    margin-right: 5px;
}
