@charset "utf-8";

@media screen and (max-width: 768px) {

	 .menuWrap{
	 justify-content: space-between;
	 padding: 0 16px;
	 }
	
 .m_display_none{
 	display:none;
 }	
 
 .teb-ham-btn2{display: none;}
 
 .m_unset{all: unset!important;}
	
.M.board_view_top tr td{ display:flex; gap:8px; }	
	
 .board_view_top colgroup{
 	display: none;
 }
 	
	
  /*메인페이지 */
  
  
.app_down_area, .user_guide_area, .contents4_p{display: none;}
  
  
  .container_p{ height: 100%;}
  
  
  .contents3_p{display: grid; gap: 0;}
  
  
  .main_p_wrap{display: grid; margin-top: 32px;}
  
  .main_title p{font-size: 24px;}
  
  .main_title h1{font-size: 30px;}
  
  .main_title h1 br:nth-child(2){display:none;}
  
  .main_visual img{width:calc(100vw - 2rem); }
  
  .main_p_box{height: auto;}
  
  .main_p_boxarea img{display:none;}
  
  .main_p_boxarea .button_p{width:100%;}
  
  .point_menu{
  	display: grid;
  	
  	    grid-template-rows: 50% 50%;
  		grid-template-columns: 24% 24% 24%;
  		justify-content: center;
  }
  
  .main_p_boxarea .sky_blue h2, .covalt_blue h2{
  	font-size: 18px;
  	padding:0;
  }
  
  .main_p_boxarea .main_p_box{padding:16px; text-align: center; width:160px; cursor: pointer;}
  
 .main_p_boxarea .main_p_box .button_p {display:none;}
  
  
  .main_p_boxarea{justify-content: center; gap:8px;}
  
  .search_wrap {width:90%;}
  
  .search_p .search_p_txt{height: 50px; padding:0 70px 0 20px;}
  
  .search_wrap .search_p_btn button {width:54px; height:50px; background-size: 70%;}

	.contents3_p .c3_box {width:80%; margin: 0 auto;}

.contents3_p .c3_box .board_p>ul{overflow: hidden;}

.search_magnifier {width: 24px;}



    /*메인페이지;; */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 #headerWrap .gnb_p{
 	display: none;
 } 
 
 table{font-size: 14px;}
 
/*  .search_area{display:unset;} */
 .search_area{display:block;} 
 
 .search_area .p_grid_rowgap8 input{width:100%;}
 .search_area .p_grid_rowgap8 .gap8{display: grid;}
 
 								.search_area .p_grid_rowgap8 .gap8 button{width:100%;}
 
 .contents_title{margin-bottom: 1rem;}
 
 .contents_headtitle{font-size: 1.5rem;} /* 24px */
 /* 
 .logoArea{transform: translate(1rem, -50%);} 
  */

 
 .container_p, .sub_in{padding: 0 1rem;} /* 16px */

 .p_txt_B6{font-size: 0.875rem;} /* 14px */
 
 
 .gap8 div>div{display: grid; text-align: left;}
 


 /* 
 .board_list{
 	overflow: hidden;
 	
 }
 
 
 
 
 .board_list tr{
 	position: relative;
 	padding-left: 70px;
 	text-align:left;
 }
 
 .board_list table tbody td:first-child{
 	display: inline-block;
 	position: absolute;
 	left: 5px;
 	top: 20px;
 	width: 55px;
 	padding: 5px 0;
 	text-align: center;
 }
 
 .subject{ width: 100%; display:block;}
 .td4, .td5, .td6, .td7{
 	display:inline-block;
 	position: relative;
 
 }
 
 
  */
 
 
 

 
 .board_list thead{display: none;}
 
 .board_list tbody{border-top: 2px solid var(--sub_color); }
 
 										/* .board_list tr:last-child td{border-bottom: 1px solid var(--line_color);} */
 
 .board_list_bot{margin-top: 40px;}
/* .board_list tr td:nth-child(1), .board_list tr td:nth-child(6){display: none;} */
 
 
 
 
 
 
 .M.board_view_top tr td::before{
 	content: attr(data-label);
 	float: left;
 	width: 5rem;
 	font-weight: 600;
 }
 
 
 
 

 .board_list tr td::before{
 	content: attr(data-label);
 	float: left;
 	width: 8.75rem;
 	font-weight: 600;
 }
 

.board_list tr:nth-child(odd){
	background: #f7f7f7;
	
}

.board_list td {
	display: block;
	font-size:0.875rem;
	text-align: left;
}

 

 
 
 
 .mob_serch_area{
 	display: grid;
 	justify-content: normal;
 	grid-row-gap: 8px;
 }
 
 .mob_serch_area .w_300{width:100%!important;}
 
 .mob_btn{width: unset;}
 
 .p_notice_title{
 	font-size:22px;
 	margin-top: 64px;
 	margin-bottom: 16px;
 	font-weight: bold;
 }
 
 
 .p_condition img {display: none;}
  .p_condition .mr56{margin:0;}
 .p_condition h2{font-size: 20px;}
 .p_condition p {font-size: 14px;}
/*  .search_p_wrap{display: grid;} */
 
 .search_p_wrap .gap8{display: block;}
 
 
 /* .search_p_wrap .gap8 div>div {display: flex;} */
 
 .search_p_wrap .gap8>div{margin-bottom: 8px;}
 .search_p_wrap .gap8 div:last-child{display: grid;}


.gary_box.item.f_search.gap8.p_flex_center input{width:100%;}

 									.search_p_wrap .gap8 .btn_box2.w_74 {width:100%; max-width: unset;}
 
 .board_view_top tr td, th{vertical-align:middle;}
 .board_view_top tr td {
 padding-left: 0.5rem; 

  }
 
 .board_view_top col:nth-child(odd) {width: 20%!important;}
 .board_view_top col:nth-child(even) {width: 24%!important;}

 
 .board_view_bot{margin-top: 16px;}
 
 
 .border_t2 td:first-child{display:none;}
 
 
 
  .board_FaqListInqire col:nth-child(1){width: 16%!important;}
 .board_FaqListInqire col:nth-child(3){width: auto!important;}
 .board_FaqListInqire col:nth-child(4){width: 20%!important;}
 .board_FaqListInqire col:nth-child(5){width: 5%!important;} 
 
  .board_FaqListInqire col:last-child{display:none;}
 
 
 
 .border_t2 tr td, th{vertical-align:middle!important;}
 
 
 .board_QnaListInqire td:first-child{display:none;}
 .board_QnaListInqire td:nth-child(6){display:none;}
 
 .board_QnaListInqire col:nth-child(1){display: none;}
 
 .board_QnaListInqire col:nth-child(2){width: 6%!important;}
 .board_QnaListInqire col:nth-child(3){width: 30%!important;}
 .board_QnaListInqire col:nth-child(4){width: 10%!important;}
 .board_QnaListInqire col:nth-child(5){width: 16%!important;}
.board_QnaListInqire col:nth-child(6){display: none;}
  .board_QnaListInqire col:nth-child(7){width: 12%!important;}
  
  
/*  .board_QnaListInqire .w_100{width:unset!important;} */
 
 

 
 
 
 .board_NoticeList col:first-child{display:none;}
.board_NoticeList col:last-child{display:none;}
.board_NoticeList col:nth-child(3){width:20%!important;}
	 
  .board_NoticeList td:first-child{display:none;}
 .board_NoticeList td:last-child{display:none;}
 
 
 
 .h30_input {width:160px!important;}
 
 
 
 .m_checkbox{display: grid; gap:0.5rem; padding: 1rem;}
 
 .m_grid{display: grid!important; gap:0.5rem;}

 
 .p_condition .grid_1x4{grid-template-columns: 1fr 3fr; grid-row-gap: 8px;}
 
 
 .p_flex_space-between_bottom .w_300 {width:100%!important;}
 
 
/* .board_list .grid_2x4{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 24px;}
  */
/* .grid_2x4 td{align-self: center;} */
 
 .grid_2x4 td div.gap8{display: grid;}  
  
  .p_hide{display: block;}
  
  
  
  .board_list col:not(:first-child){display: none;}
  
  
  
  
  .m_status_box div{margin: 0 0 auto 140px;}
  
  
  .i_days{right: 24px;}
  
  
      #location .navi:after {
        right: 0;
        top: 20px;
        width: 4px;
        height: 4px;
        border: solid #ccc;
        border-width: 2px 2px 0 0;
        background: none;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
  
  
  #location .navi:not(.n1) > a:before{display: none;}
     
     
      #location .navi {
        width: auto;
        min-width: auto;
    }
  
  .location_wrap{padding: 0 16px;}
  
  #location .navi.n4::after, .navi.n1::after {
    display: none !important;
}
  
  
  #location .location_wrap .navi:not(.navi.n1){padding: 0 1rem;}
  #location .location_wrap .navi.n1{padding: unset;}
  #location .navi .navi_ov ul li a span{padding: 0.5rem 1rem;}
  
  
  
 .teb-ham-btn{display:block!important;}
  
  .menu-trigger{display:block;}
  
  
  
  .modal-body.accordion{width:80%!important;}
  
  
  
  .utile_p {
  padding: 0 24px; 
  height: 80px; 
  width:100%; 
 position: fixed;
        background: #fff;
        z-index: 1;
    }
  
  .utile_p ul li {    
  	display: inline-block;
  	margin-right: 8px;
  }
  
  .utile_p ul li a{ 
  	line-height: 80px;
  	color: #666;
        font-size: 14px;
  }
  
  .depth1_ul {
     overflow-y: scroll;
    overflow-x: hidden; 
    height: 100%;
    background: #fff;
    text-align: left;
    padding: 80px 0;
  }
  
  
  .modal-body.accordion{
  	max-height: 100vh;
  	overflow-y: auto;
  }
  
  
  .modal-backdrop .modal-body .depth1_ul > li > div{
  	display: block;
    padding: 16px 50px 16px 24px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}


  
  .modal-backdrop .modal-body .depth1_ul > li > div span{
  	display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  
  
  }
  
      
   .modal-backdrop .modal-body .depth1_ul li {
    background: var(--point_color2);
   }   
      
     
     
   .modal-backdrop .modal-body .depth1_ul .depth2_ul > li > a, .modal-backdrop .modal-body .depth1_ul .depth2_ul > li > div {
   	 display: block;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    background: #f7f7f7;
   
   }
     
    .modal-backdrop .modal-body .depth1_ul .depth2_ul > li > a span, .modal-backdrop .modal-body .depth1_ul .depth2_ul > li > div span{
    
    display: block;
    /* line-height: 1.4; */
    padding: 14px 30px;
    color: #333;
    font-size: 14px;
    
    }
     
     .modal-backdrop .modal-body .depth1_ul .depth2_ul .depth3_ul {
   /*  display: none; */
    padding: 16px 0;
    border-bottom: 1px solid #d7d7d7;
    background: #dfdfdf;
	}
	
	.modal-backdrop .modal-body .depth1_ul .depth2_ul .depth3_ul li{
	 background: #dfdfdf;
	}
  
    .modal-backdrop .modal-body .depth1_ul .depth2_ul .depth3_ul > li {
    position: relative;
    padding: 8px 40px;
    
    }
    
    .depth1_ul .depth2_ul .depth3_ul li a span {font-size: 14px; color: #666}
    
    .depth1_ul .depth2_ul .depth3_ul > li a:after {
    display: block;
    position: absolute;
    left: 5px;
    top: 10px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #666;
    content: '';
    }
    
    .depth1_ul .depth2_ul .depth3_ul > li > a {
    display: block;
    position: relative;
    padding-left: 18px;
    }
    
    
     .modal-backdrop .modal-body .depth1_ul > li > div:after {
    display: block;
    position: absolute;
    z-index: 2;
    right: 24px;
    top: 21.5px;
    width: 8px;
    height: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    content: '';
}

.modal-backdrop .modal-body .depth1_ul > li > div.active-2:after {
  transform: rotate(-135deg); 
  -webkit-transform: rotate(-135deg);
}





.depth1_ul .depth2_ul > li > div.large_menu:before {
    
    content: '';
    position: absolute;
    right: 23px;
    width: 15px;
    top:22px;
    height: 0.5px;
    background: #888888;
}

.depth1_ul .depth2_ul > li > div.large_menu:after {
    content: ''; 
    position: absolute;
    right: 30px;
    width: 0.5px;
    height: 15px;
    top:15px;
    background: #888888;
}


.depth1_ul .depth2_ul > li > a.large_menu.active-3:after {
    display: none; 
}


/* 
canvas#stepDay_chart{
	height: 100px!important;
	
}
 */

div.graph_box div.p_flex.m_grid div font br{
	display: none;
	
}

.w32per.graph_box{
	width:100%;
	padding: 16px;
}

.content > .p_flex.gap16.p_flex_space-between > div.w_half{width: 100%;}



.news_area{display: grid;
    margin-top: 40px;}


.graph_box div.txt_right{display: flex; gap: 8px;}


.graph_box div.mt16.p_flex.p_flex_space-between{    
	display: flex;
    justify-content: space-around;
}


.p_flex_space-between.p_flex{
	display: block;
}

.mb16.p_flex.p_flex_space-between h2{
	font-size:14px;
}


.item.btn.w_100.mt8.btn_44{
	height: 30px;
   
    font-size: 16px;
    
    line-height: 30px;
}
  
.mt16.p_flex.p_flex_space-between h3{
	font-size:14px;
}  


.gary_box.item.f_search.gap8.p_flex_center div.mr24{margin-right:0;}

.gary_box.item.f_search.gap8.p_flex_center input.w_300{width:100%!important;}

canvas#slpTime_chart, #beforeMeal_chart, #tm_chart, #afterMeal_chart, #beforeSleep_chart  {display: none!important;}




/* 
canvas#stepDay_chart{height: 200px!important;} */

.contents3_p .w_half{width: 100%;}


  
.graph_title {font-size: 16px; margin-top: 24px;}  
    
    
    
.modal-backdrop.fade.in2{display: none!important;}    

.modal-body.accordion{display: block!important;}


/* .grid_2x4 td{float:left;} */

.clickClose{right: 44px;}
    
    
  .header_top{padding: 0 16px; display: none;}
    
    
 
    
    .menu-trigger.active-1{top: unset!important;}
    
    .swiper-backface-hidden .swiper-slide{display:grid!important;}
    
    
  .footer{display: none;}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}

