@charset "utf-8";

/* .skip_navi {display: block; position: absolute; left: -9999px; top: -9999px; width: 100%; color: #000; text-align: center;}
.skip_navi:focus {position: static;} */

/* Skip navigation */
 .skip_nav {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
  transition: top 0.3s;
}

.skip_nav:focus {
  top: 0;
}
/* Button */
.btn {display: inline-block; vertical-align: top;}
    .btn_blue_30 {
    height: 30px; 
    color: #fff; 
    font-size: 14px; 
    font-weight: 300; 
    text-align: center; 
    line-height: 30px; 
    background: var(--point_color2);
    border-radius:4px;
    margin: 0 auto;
    }
    
    
    .btn_line_blue_30 {
    height: 30px; 
    color: var(--point_color2);
    font-size: 14px; 
    font-weight: 500; 
    text-align: center; 
    line-height: 30px; 
    background: #fff;
    border: 1px solid var(--point_color2);
    border-radius:4px;
    margin: 0 auto;
    }
    
    
    
    .btn_red_30{
    height: 30px; 
    color: #fff; 
    font-size: 14px; 
    font-weight: 300; 
    text-align: center; 
    line-height: 30px; 
    background: var(--red_color);
    border-radius:4px;
    }
    
    
     .btn_line_red_30{
    height: 30px; 
    color: var(--red_color);
    font-size: 14px; 
    font-weight: 500; 
    text-align: center; 
    line-height: 30px; 
    border:1px solid var(--red_color);
    background: #fff;
    border-radius:4px;
     margin: 0 auto;
    }
    
    
    .btn_yellow_30{
    height: 30px; 
    color: #fff; 
    font-size: 14px; 
    font-weight: 300; 
    text-align: center; 
    line-height: 30px; 
    background: var(--yellow_color);
    border-radius:4px;
     margin: 0 auto;
    }
    
     .btn_line_yellow_30{
    height: 30px; 
    color: var(--yellow_color);
    font-size: 14px; 
    font-weight: 500; 
    text-align: center; 
    line-height: 30px; 
    border:1px solid var(--yellow_color);
    background: #fff;
    border-radius:4px;
     margin: 0 auto;
    }
    
    
    .btn_green_30{
    height: 30px; 
    color: #fff; 
    font-size: 14px; 
    font-weight: 300; 
    text-align: center; 
    line-height: 30px; 
    background: var(--green_color);
    border-radius:4px;
     margin: 0 auto;
    }
    
    
    .btn_line_green_30{
    height: 30px; 
    color: var(--green_color);
    font-size: 14px; 
    font-weight: 500; 
    text-align: center; 
    line-height: 30px; 
    border:1px solid var(--green_color);
    background: #fff;
    border-radius:4px;
     margin: 0 auto;
    }
    
    
    
     .btn_gray_30{
    height: 30px; 
    color: #fff; 
    font-size: 14px; 
    font-weight: 300; 
    text-align: center; 
    line-height: 30px; 
    background: gray;
    border-radius:4px;
     margin: 0 auto;
    }
    
    
    
    
    .btn_44 {
    height: 44px; 
    color: #fff; 
    font-size: 18px; 
    font-weight: 500; 
    text-align: center; 
    line-height: 44px; 
    background: var(--point_color2);
    border-radius:4px;
    }
    
    .btn_blue_46 {
    height: 44px; 
   /*  border-radius: 5px; */ 
    color: #fff; 
    font-size: 16px; 
    text-align: center; 
    line-height: 44px; 
    background: var(--point_color);
    }
  
  
  	.btn_cobalt_blue_46 {
    height: 44px; 
   /*  border-radius: 5px; */ 
    color: #fff; 
    font-size: 16px; 
    text-align: center; 
    line-height: 44px; 
    background: var(--point_color2);
    }
  
  
    .btn_lineblue_46 {
    height: 44px; 
 /*    border-radius: 5px; */ 
    color:var(--point_color);
    font-size: 16px; 
    text-align: center; 
    line-height: 44px;
    border: 1px solid var(--point_color); 
    background: #fff;
    
   }
  
  
   
    .btn_skyblue_h46 {
    height: 44px; 
 /*    border-radius: 5px; */ 
    color:var(--point_color);
    font-size: 16px; 
    text-align: center; 
    line-height: 44px;
    border: 1px solid var(--point_color); 
    background: #fff;
    
   }
   
   
   .p_box_design select {
  width: 100%;
   height: 100%; 
   padding: 0 45px 0 8px; 
   border: 0; 
   
   font-size: 14px; 
   
   
   }
   
   
    .p_box_design {
  
   width:100%;
   	display: flex;
    position: relative; 
    height: 44px; 
    border: 1px solid #d0d0d0; 
    
    background: #f7f7f7; 
    /* vertical-align: top; */
    }
   
   
   
   .p_box_design::after {
    	
    	
    	
    	display: block;
    position: absolute;
    right: 17px;
    top:26px;
    content: '';
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid #666;

    
    top: 50%; 
    transform: translateY(-50%); 
    	
    	}
    	
   
   .p_box_design input[type=text] {
    	/* width: 100%; */ 
    	height: 44px; 
    	padding: 0 50px 0 20px; 
    	border: 1px solid #d0d0d0;
    	/* border-radius: 5px;  */
    	color: var(--black_color); 
    	font-size: 16px; 
    	background: #f7f7f7;
    	
    	}
   
   
   
   .board_view_top{
   	/* border-top: 2px solid var(--point_color2); */
   
   }

.board_view_top {margin-bottom: 64px!important;}   
   
.board_view_top tr{
					/* height: 46px; */
		border-top: 1px solid var(--line_color2);;
		border-bottom: 1px solid var(--line_color2);
	
}



.board_view_top tr th{
	background: #F3F4F8;
	font-weight: 500;
					padding: 10px;
}


.board_view_top tr td{
					padding: 10px;
	
}
   
   
.board_view_top tr.white_board th{
	background: #fff;
	font-weight: 300;
	color: var(--sub_txt_color2);
}



.contents_sub_title{
	font-size: 24px;
	color: var(--black_color);
	margin-bottom: 4px;
}


.p_tab_btn{
	max-width: 1080px;
	width:100%;
	margin: 0 auto;	
}


.p_tab_btn2{
	max-width: 540px;
	width:100%;
	margin: 0 auto;	
}

.p_tab_btn li{
	height: 64px;
	line-height: 64px;
	text-align: center;
	border: 1px solid var(--line_color);
	border-right: 0;
}

.p_tab_btn li:nth-child(n+5){
	border-top: 0;
}

#customLegend{padding-left: 16px; align-self: center; line-height:40px;}
#customLegend div span{font-size:18px; padding-left: 16px;}


div.all_slep_time{position: relative;}

#customLegend div.all_slep_time::before{
	display:block;
	content:'';
	width: 6px;
	height: 6px;
	border: 3px solid #5d9ec9;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 16px;
	
}



div.deep_slep_time{position: relative;}
#customLegend div.deep_slep_time::before{
	display:block;
	content:'';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #1f8caa;;
	position: absolute;
	top: 16px;
	
}


div.lite_slep_time{position: relative;}
#customLegend div.lite_slep_time::before{
	display:block;
	content:'';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #4bacc6;
	position: absolute;
	top: 16px;
	
}


div.no_slep_time{position: relative;}
#customLegend div.no_slep_time::before{
	display:block;
	content:'';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #a9cedc;
	position: absolute;
	top: 16px;
	
}








/* Text */
	.p_txt_B3 {
    color: #333; 
    font-size: 16px; 
    font-weight: bold;
    }
    
    .p_txt_M3 {
    color: #333; 
    font-size: 16px; 
    font-weight: 500;
    }
    
    
    .p_txt_L3 {
    color: #333; 
    font-size: 16px; 
    font-weight: 300;
    }


	.p_txt_B6 {
    color: #666; 
    font-size: 16px; 
    font-weight: bold;
    }
    
    .p_txt_M6 {
    color: #666; 
    font-size: 16px; 
    font-weight: 500;
    }
    
    
    .p_txt_L6 {
    color: #666; 
    font-size: 16px; 
    font-weight: 300;
    }




/* 레디오 체크박스 */
input.custom_checkbox{
  display:none;
  }

input.custom_checkbox + label{
    cursor:pointer;
    vertical-align: middle;
 
 /*  margin-right: 40px; */
 }


/* label:before에 체크하기 전 상태 CSS */
input.custom_checkbox + label:before{
  content:"";
  display:inline-block;
  width:15px;
  height:15px;
  border:1px solid var(--point_color2);
  border-radius: 0px;
  vertical-align:middle;
  }
  
/* label:before에 체크 된 상태 CSS */  
input.custom_checkbox:checked + label:before{
  content:"";
  background-color:var(--point_color);
  border-color:var(--point_color);
  background-image: url('/images/ckbox_rw.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  }


.h30_input{
	
    	height: 30px!important; 
    									padding: 0 50px 0 8px!important; 
    								
    								/* width: 240px!important; */
    	border: 1px solid var(--line_color2);
    	/* border-radius: 5px;  */
    	color: var(--black_color); 
    	font-size: 14px!important; 
    			
	
}




.btn_box{
	width: 100px;
	height: 44px;
 	color: #fff;
    background:var(--point_color);
    
    font-size: 16px; 
    text-align: center; 
   
    border: 1px solid var(--point_color); 
    
    
    display: inline-block;
	
}

.btn_box2{
	width: 100px;
	height: 44px;
 	color: #fff;
    background:var(--point_color2);
    
    font-size: 16px; 
    text-align: center; 
   
    border: 1px solid var(--point_color2); 
    
    
    display: inline-block;
	
}


.btn_lineBox{
	width: 100px;
	height: 44px;
 
    color:var(--point_color);
    font-size: 16px; 
    text-align: center; 
   
    border: 1px solid var(--point_color); 
    background: #fff;
    
    display: inline-block;
	
}


.btn_lineBox2{
	width: 100px;
	height: 44px;
 
    color:var(--point_color2);
    font-size: 16px; 
    text-align: center; 
    
    border: 1px solid var(--point_color2); 
    background: #fff;
    
    display: inline-block;
	
}






.h30_button{
	width: 74px;
	 background-color: var(--point_color);
    color: #fff;
    
    height: 30px;
    
   
    font-size: 14px;
   /*  font-weight: 500; */
    text-align: center;
display: inline-block;
}




.h30_button2{
	width: 74px;
	 background-color: var(--point_color2);
    color: #fff;
    
    height: 30px;
    
   
    font-size: 14px;
   /*  font-weight: 500; */
    text-align: center;
    display: inline-block;

}










.h30_button_long{
	background-color: var(--point_color);
    color: #fff;
    
    height: 30px;
    
   
    font-size: 14px;
    /* font-weight: 500; */
    text-align: center;
        width: 140px;
    border-radius: 4px;
	
}




.h30_btn_lineBox{
	width: 74px;
	height: 30px; 
 
    color:var(--point_color);
    font-size: 14px; 
    text-align: center; 
   
    border: 1px solid var(--point_color); 
    background: #fff;
    
    display: inline-block;
	
}

.h30_btn_lineBox2{
	width: 74px;
	height: 30px; 
 
    color:var(--point_color2);
    font-size: 14px; 
    text-align: center; 
  
    border: 1px solid var(--point_color2); 
    background: #fff;
        font-weight: bold;
    display: inline-block;
	
}

.h30_btn_lineBox3{
	width: 74px;
	height: 30px; 
 
    color:var(--green_color);
    font-size: 14px; 
    text-align: center; 
    line-height: 28px;
    border: 1px solid var(--green_color); 
    background: #fff;
    
    display: inline-block;
	
	
}


.h30_btn_lineBoxRed{
	width: 74px;
	height: 30px; 
 
    color:var(--red_color);
    font-size: 14px; 
    text-align: center; 
    
    border: 1px solid var(--red_color); 
    background: #fff;
    
    display: inline-block;
	
	
}



.grid_2x4 .w_140.h30_btn_lineBox2:hover{
	
	background: var(--point_color);
	border:1px solid var(--point_color);
	color: #fff;
}





.modal_background, .EAG_modal_background, .EBSG_modal_background, .DS_modal_background, .EBPG_modal_background, .ESG_modal_background, .EWG_modal_background, .ETG_modal_background {
            position: fixed;
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 99;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal_body {
            position: relative;
            width: 900px;
           						 /* height: 600px; */
            					
            text-align: center;
            background-color: rgb(255, 255, 255);
            
            box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
            padding-bottom: 40px;
        }


		 .EAG_modal_body, .EBSG_modal_body, .DS_modal_body, .EBPG_modal_body, .ESG_modal_body, .EWG_modal_body, .ETG_modal_body {
            position: relative;
            width: 900px;
           						 /* height: 600px; */
            					
            text-align: center;
            background-color: rgb(255, 255, 255);
            
            box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
            padding-bottom: 40px;
        }


	.modal_title{
		background: var(--point_color2);
		height: 64px;
		line-height: 64px;
		font-size: 24px;
		color: #Fff;
		text-align: left;
				position:relative;
				/* top:0;
				left:0; */
		width:100%;
		padding: 0 24px;
	
	}
	

        .close_btn {
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;
            
            width: 30px;
            height: 24px;
        }


		.close_btn span{
			width:100%;
			height: 4px;
			background-color: #fff;
			border-radius: 4px;
			
			display: inline-block;
			position: absolute;
			left: 0;
			bottom:0;
		}
		
		.close_btn span:nth-of-type(1){
			transform: translateY(10px) rotate(-45deg);
			top:0;
		}
		
		.close_btn span:nth-of-type(2){
			transform: translateY(-10px) rotate(45deg);
		}


		.modal_contents{
			padding: 0 24px;
		
		}


		/* height: 44px;
		padding: 0 50px 0 20px;
		border: 1px solid #d0d0d0
		color: var(--black_color);
		font-size: 16px;
		background: #f7f7f7; */

  .f_select select {
  width: 100%; 
  min-width: 93px;
  
  height: 100%; 
  padding: 0 2.813rem 0 0.875rem; 
  border: 0; 
  color: var(--black_color); 
  font-size: 14px; 
  background: #fff;
  
  }
  
  
  .f_select::after {
    
    	
    	
    	display: block;
    position: absolute;
    right: 17px;
    top:26px;
    content: '';
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid #666;

    
    top: 50%; 
    transform: translateY(-50%); 
    pointer-events: none;
    	
    	}
  
  
  
  
  .f_select .select_icon {
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #666;
  pointer-events: none; /* 아이콘 클릭 방지 */
}


.f_search input[type=text], .f_search input[type=password] {
    	
    	/* width: calc(100% - 113px)!important; */
    	height: 44px; 
    									padding: 0 0.875rem; 
    								/* padding: 0 1rem; */
    								min-width:138px;
    								width: 100%;
    	border: 1px solid var(--line_color);
    	/* border-radius: 5px;  */
    	color: var(--black_color); 
    	font-size: 16px; 
    	background: #fff;
    	
    	}




 .f_select {
    		
    display: inline-block; 
    position: relative; 
    height: 44px; 
    border: 1px solid var(--line_color); 
    
    
    vertical-align: top;
    }


	.h30_f_select{
		display: inline-block; 
    position: relative; 
    height: 30px; 
    border: 1px solid var(--line_color2); 
    
    /* background: #f7f7f7;  */
    vertical-align: top;
	}


.h30_f_select select{
	width: 100%; height: 100%; padding: 0 40px 0 8px; border: 0;  font-size: 14px; 
	
	
}


.h30_f_select::after {
    
    	
    	
    	display: block;
    position: absolute;
    right: 17px;
    top:26px;
    content: '';
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid #666;

    
    top: 50%; 
    transform: translateY(-50%); 
    	
    	}

	
	.p_mark_ui{
		color: #FFF;
    border-radius: 50px;
    padding: 3px 10px 3px 10px;
	}
	
	
	

.graph_box{
	box-shadow: 0 0 8px 0px #d0d0d0;
	padding: 24px;
	border-radius: 16px;

	

	margin: 16px 0;
}
	
	.gary_box{
		    background: var(--bg_color);
		padding: 24px;
		box-shadow: 0 0 8px 0px #d0d0d0;
		    border-radius: 8px;
    margin-bottom: 40px;
	}
	
	 .board_list table {font-size: 16px; font-weight: 300;}
    
    .board_list th {
    padding: 8px 0;
        background: var(--bg_color2);
    
    font-weight: 400; 
    text-align: center;
    
    }
	
	.title40{font-size: 2.5rem; font-weight: bold;}
	
	
	.p_menu_ic01{background: url(../images/menu_ic01.svg) no-repeat center; width:100px; height:100px; margin:auto;}
	
	.p_menu_ic02{background: url(../images/menu_ic02.svg) no-repeat center; width:100px; height:100px; margin:auto;}
	.p_menu_ic03{background: url(../images/menu_ic03.svg) no-repeat center; width:100px; height:100px; margin:auto;}
	.p_menu_ic04{background: url(../images/menu_ic04.svg) no-repeat center; width:100px; height:100px; margin:auto;}
	.p_menu_ic05{background: url(../images/menu_ic05.svg) no-repeat center; width:100px; height:100px; margin:auto;}
	.p_menu_ic06{background: url(../images/menu_ic06.svg) no-repeat center; width:100px; height:100px; margin:auto;}

	
	
	
	
	
	
	

.con_sub_title {    
	font-size: 18px;
    font-weight: bold;
    }

	
	.board_view_top th div{color: var(--sub_txt_color);}
	.board_view_top td span, .board_view_top td label{color: var(--sub_txt_color2);}

    .p_tit_1 {color: #222; font-size: 48px; font-weight: 500; line-height: 48px;}
    .p_tit_2 {position: relative; padding-top: 12px; color: #222; font-size: 30px; font-weight: 700; letter-spacing: -1px;}
    .p_tit_2::before {content: ""; display: block; position: absolute; left: 0; top: 0; width: 30px; height: 2px; background: #0465be;}
    .p_tit_3 {color: #222; font-size: 26px; font-weight: 700;}
    .p_tit_4 {color: #000; font-size: 26px; font-weight: 700;}

    .p_txt_1 {color: #666; font-size: 24px;}
    
    .p_txt_2 {
    color: #666; 
    font-size: 16px; 
    font-weight: 300;
    }
    
    .p_txt_3 {color: #eb6877; font-size: 16px; font-weight: 300;}
    
    /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--point_color2); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  border-radius: 10px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


 




