@charset "utf-8";

 .container_p{
 	/* background: var(--background_color); */
 	/* padding: 56px 0; */
 	
    width:100%;
 	height:100%;
 	padding-top: 32px
 }
 
 

 
 .main_p_wrap{
 	
 	display: flex;
 	justify-content:center;
 	max-width: 1400px;
    margin: auto;
    gap:24px;
    padding: 0 40px;
 }
 
 .main_p_boxarea{
 	display: grid;
 	gap: 24px;
 	/* align-self: center; */
 }
 
 .main_p_box{
 	width: 312px;
 	height: 218px;
 	
 	border-radius: 8px;
 	padding:16px 24px;
 	    position: relative;
 }
 
 
 .main_p_boxarea .sky_blue h2, .covalt_blue h2 {
 	color: #fff;
 	    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
       
}

 	

.covalt_blue span{
	
	
width: 24px;
    margin-bottom: 7px;
    height: 1px;
    background-color: #fff;
    border-radius: 4px;
    display: block;
	
	
}

.covalt_blue span:nth-child(1){
	    transform: translateY(9px) rotate(90deg);
	
}


.covalt_blue .plus_ic{
	position: absolute;
    right: 24px;
    top: 25px;
	
}



 
  .main_p_boxarea .sky_blue h2 a, .covalt_blue h2 a {
 	color: #fff;
 	
 }
 
 
 .button_p{
 	width: 210px;
 	height: 44px;
 	line-height: 44px;
 	
 }
 
 .bg_fff1{
 	background: #fff;
 	
 	font-weight:500;
 	text-align: center;
 	margin: 0 auto;
 
 }
 
 .bg_fff1 a{
 	color: var(--point_color);
 }
 
 .bg_fff2{
 	background: #fff;
 	
 		font-weight:500;
 		text-align: center;
 		margin: 0 auto;
 }
 
 .bg_fff2 a{
 	color: var(--point_color2);
 }
 
 /* .main_title{
 	align-self: center;
 }
  */

 
 .main_title p{
 	font-size: 1.25rem; 

 }
 
 .main_title h1{
 	font-size: 4.225rem;
 	line-height: 1.5; 
 	color:#fff;
 }
 
 
 .search_wrap{
 width: 50%;
 	overflow: hidden;
 	position:relative;
 	border-radius: 0 10px 0 0;
 	
 	align-self: flex-end;
 }
 
 .search_p .search_p_txt{
 	width: 100%;
 	height: 60px;
 	line-height: 60px;
 	padding: 0 80px 0 30px;
 	
 	border: 1px solid var(--point_color);
 	border-radius: 0 8px 8px 0px;
 	
 }
 
  .search_p_btn{
  	position: absolute;
  	right: 0;
  	top: 0;
  }
 
 
 .search_p_btn button{
 	width: 62px;
 	height: 60px;
 	border: 1px solid var(--point_color);
 	border-radius: 0 8px 8px 0px;
 	background: var(--point_color) url(../images/search_ic01.png) no-repeat center;
 	font-size:0;
 }
 
 
 .contents2_p{
 
 	display:flex;
 	justify-content: space-evenly;
 	
 	position: relative;
 	bottom: 24px;
 }
 
 
 .app_down_area, .user_guide_area{
 	width: 22%;
 	/* height: 80px; */
 	background: #fff;
 	display: flex;
 	padding: 8px;
 	border-radius: 4px;
 	align-items: center;
 	    box-shadow: 0 0 4px 0px #d0d0d0;
 }
 
 .app_down_area div, .user_guide_area div{
 	width: 64px;
 	height: 64px;
 	background:gray;
 	border-radius: 8px;
 }
 
 
 
  .app_down_area p, .user_guide_area p{
 	font-size: 20px;
 	font-weight: 500;
 	padding-left: 8px;
 }
 
 
 .contents3_p{
 	display: flex;
 	justify-content:center;
 	gap: 24px;
 	
 }
 
 .point_menu{
 	display: grid;
 	grid-template-rows: 164px 164px;
 	grid-template-columns: 164px 164px 164px;
 	gap: 24px;
 }
 
 .p_menu {
 	/* width: 10%; */
 	/* height: 130px; */
 	background: #fff;
 	border-radius: 8px;
 	align-items: center;
 	text-align: center;
 	/* display: grid; */
 	padding: 16px;
 	    box-shadow: 0 0 4px 0px #d0d0d0;
 }
 
 .c3_box{
 	 width: 100%; 
 	height: auto;
 	background: #fff;
 	border-radius: 8px;
 	padding: 24px;
 	    box-shadow: 0 0 4px 0px #d0d0d0;
 }
 
  .c2_box{
 	width: 50%;
 	height: auto;
 	background: #fff;
 	border-radius: 16px;
 	padding: 24px;
 }
 
 
 .p_menu_ic{
 	width: 50px;
 	height: 50px;
 	background: gray;
 	margin: 0 auto;
 }
 
 
 .board_title{
 	padding-bottom: 24px;
 	position: relative;
 }
 
 .board_title span{
 	font-size: 24px;
 	font-weight:500;
 	color: var(--point_color);
 }
 
 
 .board_title i{
 	background: url(../images/plus_btn.png) no-repeat center;
 	position: absolute;
 	right: 0px;
 	
 	width:24px;
 	height: 24px;
 }
 /* .board_title i{
   position: absolute;
   right: 24px;
   top: 24px;
   width: 20px;
   height: 2px;
   background:#999;
 }
 
 .board_title .plus_p {
   transform: translateY(0px) rotate(-90deg);
 } */
 
 
 .board_txt_area{
 	display: flex;
 	justify-content: space-between;
 	padding-bottom: 12px;
 	margin-bottom: 12px;
 	border-bottom: 1px solid #d0d0d0;
 	gap: 20px;
 }
 
 .board_txt_area:nth-child(4){
 	border-bottom: 0;
 }
 
 .board_txt_area li{
 	font-size: 14px;
 	color:#999;
 }
 

.contents_p_wrap{
	background: var(--background_color);
	
}

.contents_p_area{
	max-width:1400px;
	width:100%;
	margin: auto;
	padding: 40px;
}


.main_p_box a{
	    width: 100%;
    display: inline-block;
	
}



.swiper-slide.slide_1{
	display:flex; 
	BACKGROUND: var(--point_color2);
	padding: 20px;
	border-radius: 5px;
	
	}

.swiper-button-prev,
.swiper-button-next {
 
  bottom:10px!important;
  display:unset!important;
  
  top: unset!important;
    width: unset!important;
    
    margin-top: unset!important;
}
 
 .swiper-button-prev:after,
.swiper-button-next:after {
  font-size: unset!important;
}
 
 
 .swiper-button-next, .swiper-rtl .swiper-button-prev{
 	right: unset!important;
 	left: unset!important;
 	    left: 100px !important;
 	
 }
 
  .swiper-pagination-fraction{
  	bottom: 34px!important;
    left: 42px!important;
    width:unset!important;
    top: unset!important;
  color: var(--line_color) !important;
  }
 
 .swiper-pagination-fraction span{color: var(--line_color) !important;}
 
 
 .point_menu p{
 	font-weight: 500;
 }
 
 
 .news_area{width: 100%;}
 
 
 .my_data_img{
	background: url('../images/my_data_img.svg') no-repeat center;
	    width: 248px;
    height: 106px;
    display: block;
    margin: 24px auto;
	
}
    


.medi_certificate{
	background: url('../images/medi_certificate.svg') no-repeat center;
	    width: 100px;
    height: 123px;
    display: block;

}
 
 .i_circle{
 	background: url('../images/i_circle.svg') no-repeat center;
	    width: 52px;
	        background-size: 80%;
    height: 52px;
    display: block;
 
 }
 
 .covalt_blue .gap8 div h3{
 	color:#fff;
 	font-size:14px;
 }
 
 
 .covalt_blue .gap8 div ul li{
   color: #fff;
   font-size:14px;
   list-style-type: disc;
    opacity: 0.7;
    font-weight: 100;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 